extends template
block vars
    - var page = "courseList"
block content
    .container
      .col-xs-12
        center
          h1= title
          a.btn.btn-success.pull-right(href="/courseList/addCourse") Add Course
      table.table.table-bordered
        thead
          tr
            th SUBJECT
            th CODE
            th NAME
            th DAYS
            th ROOM
            th CRN
            th Action
        tbody
        - each item in rows
          tr
            td= item.subject
            td= item.code
            td= item.name
            td= item.days
            td= item.room
            td= item.crn
            td 
              form(method="post" action="/courseList/removeCourse")
                input(type="hidden" name="idCourse" value="#{item.idCourse}")
                button.btn.btn-danger Delete Class
