extends template
block vars
    - var page = "studentList"
block content
    .container
      .col-xs-12
        center
          h1= title

        a.btn.btn-success.pull-right(href="/studentList/addStudent") Add Student
      table.table.table-bordered
        thead
          tr
            th First Name
            th Last Name
            th Username
            th User ID
            th Action
        tbody
        - each item in rows
          tr
            td= item.first
            td= item.last
            td= item.username
            td= item.studentID
            td
              form(method="post" action="/studentList/removeStudent")
                input(type="hidden" name="idUser" value="#{item.idUser}")
                button.btn.btn-danger Delete Student
